@model EmbassyRegistration.Form.Engine.Models.ApplicationModel

<fieldset>
    <legend></legend>
    <h2>Персольная информация</h2>
    @Html.EditorFor(model => model.PersonalInfo)
    @Html.EditorFor(model => model.PassportInfo)
    <h2>Адрес</h2>
    @Html.EditorFor(model => model.Address)
    @Html.EditorFor(model => model.JobInfo)
    <h2>Предыдущие шенгены за последние 3 года</h2>
    <div id="previousVisas">
        @for (int i = 0; i < Model.PreviousVisas.Count; i++)
        {
            <ol class="rangeTemplate">
                <li>
                    @Html.LabelFor(model => model.PreviousVisas[i].From)
                    @Html.EditorFor(model => model.PreviousVisas[i].From, "Date")
                </li>
                <li>
                    @Html.LabelFor(model => model.PreviousVisas[i].To)
                    @Html.EditorFor(model => model.PreviousVisas[i].To, "Date")
                </li>
            </ol>

        }
    </div>
    <a  id="addVisa">Добавить визу</a>
    <h2>Даты визы</h2>
    @Html.EditorFor(model => model.VisaDates)
</fieldset>